.App {
  text-align: center;
}

.App-body {
  min-height: 50vh;
  text-align: left;
  margin-left: 3vw;
}

.App-body p {
  margin-top: 4vw;
  font-size: 1.2em;
}

#email {
  margin-right: 10px;
}

#password {
  margin-right: 10px;
}

.App-footer {
  border-top: #e0354b 2.5px solid;
  font-style: italic;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/