.App-body {
  min-height: 50vh;
  text-align: left;
  margin-left: 3vw;
}

.App-body p {
  margin-top: 4vw;
  margin-bottom: 2vw;
  font-size: 1.2em;
}

#email {
  margin-right: 10px;
}

#password {
  margin-right: 10px;
}
